/* bullet in the slideshow or carousel */
.swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #888;
  opacity: 0.5;
}

/* Active bullet customization for the slideshow*/
.swiper .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 10px;
  opacity: 1;
}

.swiper .swiper-button-prev::after {
  background: url("/assets/img/icon/arrowLeftSlide.png") no-repeat center center;
  background-size: contain;
  position: absolute;
  color: transparent;
  width: 60px;
  height: 60px;
  font-weight: bolder;
}
.swiper .swiper-button-next::after {
  background: url("/assets/img/icon/arrowRightSlide.png") no-repeat center
    center;
  position: absolute;
  background-size: contain;
  color: transparent;
  width: 60px;
  height: 60px;
  font-weight: bolder;
}
